* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    margin: 0, auto;
}

nav {
    position: sticky;
    height: 100px;
}

nav h1{
    background-color: #4179e1;
    color: #ffffff;
    width: 280px;
    height: 100px;
    text-align: center;
    font-size: 30px;
    padding: 25px;
    margin-left: 90px;
}

.sub-container {
    background-color:#ffffff;
    padding: 20px;
    margin: 20px 20px;
}

h2 {
    color: #4179e1;
}

footer{
    width: 100%;
    margin-top:140px;
    margin-left: 0px;
}

footer p {
    color:#ffffff;
    text-align: center;
    height: 100px;
    padding: 50px;
}

/* @media screen and (max-width: 640px;) {

} */